@use "variables" as *;

body{
    font-family: $font-main;
}
button{
    background-color: #36a2eb;;
    font-size: 26px;

    &:hover{
        background-color: #2b85c6;
    }
}
#kursdiagram, #programdiagram {
    width: 800px;
    height: 500px;
    margin: 20px auto;
    display: block;
}

#jsdoc{
    background-color: #333;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;

    &:hover{
        background-color: #555;
    }
}