@use "variables" as *;

body{
  font-family: $font-main;
  background-color: white;
}

#karta{
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

#search{
  border-radius: 8px;
  width: auto;
  height: 25px;
  width: 300px;
  padding: 4px 8px;
  margin-right: 10px;
}
